
.container {
  justify-content: center;
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.container button {
  cursor: pointer;
}

/* HEADER SECTION */
.main {
  width: 100%;
  height: 718px;
  background-color: #ffff;
  border-radius: 0 0 0 100px;
}

.header {
  color: blue;
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  margin: auto 0;
  display: block;
  cursor: pointer;
}

.navbar div {
  width: 30px;
  height: 0.5px;
  border: 1px solid blue;
  margin: 6px;
  background-color: blue;
  font-size: 0%;
}

.name-logo {
  width: 100px;
  height: 100px;
}

.name-logo:hover {
  animation-duration: 0.5s;
  animation-name: rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 610px;
  background-image: url("./image/header_background.svg");
  background-repeat: no-repeat;
}

.name {
  margin: 0 24px 12px 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.name h1 {
  margin: 90px 0 0 0;
}

.name h3 {
  margin: 0 0 0 0;
}

.description {
  font-family: Popinns-light, Arial, Helvetica, sans-serif;
  margin: 0 24px 0 24px;
  margin-top: 0;

  /* width: 327px; */
  height: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.contact {
  margin: 12px 0 12px 24px;
  color: #7f8cff;
}

.connect-logo {
  margin-left: 24px;
  display: flex;
}

.logo-div {
  display: flex;
  justify-content: space-between;
  width: 163.5px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

/* WORK SECTION */
.work_section {
  margin-top: 114px;
}

.project {
  padding-left: 24px;
  padding-right: 24px;
}

.project > div {
  width: 100%;
  margin: 0 0 0 0;
}

/* PROJECT 1 CSS */
.project1 {
  /* width: 327px; */
  height: 552px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* prject1 image */
.profile_snapshoot {
  width: 295px;
  height: 220px;
  margin-left: 16px;
  margin-top: 16px;
}

/* Project1 H1 tag "Tonic"   */
.project1-h1 {
  font-size: 32px;
  font-weight: 700;
  color: #172b4d;
  font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
  line-height: 44px;
  margin: 12px 0 0 16px;
}

/* Project 1 unorder list holdin canopy Back End Dev 2022 */
.project1-ul {
  padding: 0;
  margin: 20px 0 20px 16px;
}

/* List items inside the .project1-ul   */
.project1-ul li {
  color: #7a869a;
  margin-left: 20px;
  float: left;
  font-size: 13px;
}

li[id^='can'] {
  color: #344563;
  list-style-type: none;
  margin-left: 0;
}

/* project1 paragraph     */
.project1-para {
  font-size: 15px;
  font-family: Poppins-Light, Arial, Helvetica, sans-serif;
  margin: 0 16px 0 16px;
  text-align: justify;
}

.project-button {
  margin: 0 0 0 16px;
}

.project-button ul {
  display: flex;
  padding-left: 0;
}

.project-button li {
  list-style-type: none;
}

.project-button button {
  margin-right: 20px;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  background-color: #ebebff;
  border-width: 0;
  color: #6070ff;
  font-size: 12px;
  list-style-type: none;
}

.see-project button {
  margin: 0 0 0 16px;
  border-radius: 8px;
  font-size: 17px;
  background-color: #ebebff;
  border: 2px solid #6070ff;
  color: #6070ff;
  padding: 12px;
}

.project2 {
  /* width: 327px; */
  height: 596px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

#p2 {
  margin-top: 88px;
}

.project3 {
  /* width: 327px; */
  height: 552px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

#p3 {
  margin-top: 88px;
}

.project4 {
  /* width: 327px; */
  height: 552px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

#p4 {
  margin-top: 88px;
}

/* About Myself and Contact Me flexbox */
.am-contact {
  display: flex;
  flex-direction: column;
}

/* ABOUT MUSELF SECTION */
.about_myself {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1263px;
  border-radius: 0 100px 0 0;
  background-color: #fff;

  /* padding: 114px 24px 0 24px; */
}

.am-menu {
  padding-left: 0;
  padding-right: 66px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: Popins-Light, Arial, Helvetica, sans-serif;
}

.amlogo-div {
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
  width: 163.5px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.lang-logo {
  padding-top: 60px;
  padding-left: 26px;
  float: right;
}

.lan-text {
  margin-bottom: 36px;
  margin-top: 60px;
  width: 237px;
}

.javascript {
  display: flex;
  background-color: #f7f7f9;
  border: 6px solid white;
  border-radius: 8px;
}

.html {
  display: flex;
  background-color: #f7f7f9;
  border: 6px solid white;
  border-radius: 8px;
}

.css {
  display: flex;
  background-color: #f7f7f9;
  border: 6px solid white;
  border-radius: 8px;
}

.ln-image {
  width: 48px;
  height: 48px;
}

.ln-text {
  font-size: 15px;
  font-weight: 500;
  font-family: Poppins-light, Arial, Helvetica, sans-serif;
  line-height: 20px;
  padding: 21px 12px 21.72px 16px;
}

.languages {
  margin-left: 36px;
}

.frame {
  margin-left: 36px;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 0 23px 0;
  display: flex;
  justify-content: space-between;
}

.skills {
  margin-left: 36px;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 0 23px 0;
  display: flex;
  justify-content: space-between;
}

#p5 {
  margin-top: 114px;
}

/* About Myself heading */
.am_heading {
  font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;

  /* line-height: 52px; */
  padding: 114px 0 12px 24px;
  height: 101px;
  text-align: left;
  word-spacing: 100px;
  margin: 0 0 0 0;
}

.am_description {
  font-family: Poppins-Light, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 16px 16px 16px;
  text-align: justify;
}

.lang-menu {
  display: flex;
  justify-content: space-between;
}

/* About Myself nav section fro languages, Frame work, html, css secktion */

/* CONTACT ME SECTION  */

.contact_me {
  display: flex;
  flex-direction: column;
  background-image: url("./image/contact-form-background.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 779px;
  background-color: #6070ff;
  border-radius: 100px 0 0 0;
  margin-top: 113.5px;
  padding-top: 103px;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.contact_me h1 {
  font-size: 40px;
}

.contact_me p {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 20px;
  margin-bottom: 29px;
}

.contact_me input {
  height: 48px;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-left: 16px;
  width: 311px;
  font-size: 17px;
  transition: font-size 0.25s;
}

.contact_me input:hover {
  font-size: 25px;
}

#text-box {
  width: 327px;
  height: 160px;
  border-radius: 8px;
}

.contact-ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.contact-ul button {
  margin: 0 0 0 0;
  border-radius: 8px;
  font-size: 17px;
  background-color: #ebebff;
  border: 2px solid #6070ff;
  color: #6070ff;
  padding: 12px;
  float: left;
  margin-left: 24px;
}

.get-in-touch button {
  margin-top: 22px;
  float: left;
}

.end-line {
  float: left;
  border-radius: 20px;
  height: 5px;
  width: 134px;
  margin-top: 80px;
  border: 2px solid black;
  background-color: black;
}

.contact_me h2 {
  font-size: 40px;
  margin-top: 103px;
}

.contact_me #text-box {
  padding-left: 16px;
  padding-top: 15px;
  width: 311px;
}

@media screen and (min-width: 768px) {
  .body {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .body > div {
    margin-left: 260px;
    margin-right: 260px;
  }

  .body > h3 {
    margin-left: 260px;
  }

  .main {
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
  }

  .navbar div {
    border: none;
    font-size: 15px;
    background-color: white;
    color: black;
    width: auto;
    height: auto;
    font-weight: lighter;
    margin-left: 32px;
  }

  .header {
    margin-right: 154px;
  }

  .work_section {
    /* all: unset; */
    width: 100%;
  }

  .project {
    padding: 0 142px 40px 142px;
  }

  .project > div {
    display: grid;
    grid-template-columns: 50% 50%;
    width: auto;

    /* margin: 24px 24px 24PX 24px; */
  }

  .project > div img {
    width: 90%;
    height: 90%;
    margin: 6% 0 0 6%;
  }

  .project-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 23px;
    margin-bottom: 120px;
    margin-right: 46px;
  }

  .about_myself {
    width: 100%;
  }

  .am-main {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .lang-button {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-right: 15%;
  }

  .lang-button div {
    display: flex;
    flex-direction: column;
  }

  .ln-image {
    margin-left: 12px;
    margin-top: 12px;
  }

  .contact_me {
    width: auto;
  }

  .contact_me p {
    margin-left: 25%;
    margin-right: 25%;
  }

  .contact-ul input {
    width: 447px;
    border-radius: 0;
    border-style: none;
  }

  .contact-ul #text-box {
    width: 447px;
    border-radius: 0;
  }

  .contact-ul button {
    float: none;
    background-color: white;
  }

  .see-project button {
    background-color: white;
  }

  .see-project button:hover {
    background-color: #396df2;
    color: white;
  }

  .contact-ul button:hover {
    background-color: #396df2;
    color: white;
  }
}
